.container{
    max-width: 1300px;
}
.large-logo{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
    color:black;
    
}
.sub{
    color: grey;
    
}
.banner-title{
    font-size: 3.5rem;
    font-size: 700;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
.banner-p{
    font-size: 1.25rem;
    font-weight: 300;
}
h3,h2,h4{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
.post-title{
    font-size: 2.5rem;
    font-weight: 600;
}
.post-info{
    margin-bottom: 1.25rem;
    color: #727272;
}
.list-style{
    list-style: none;
}
.footer{
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
}